.all {
    padding-top: 50px;
}

.cub {
    Width: 100%;
    height: 353px;
    border-Radius: 8px;
    Border: 1px solid #E8E8E8;
    /* Padding: 45px, 58px, 45px, 58px; */
    padding: 20px 16px;
    Gap: 20px;
    margin-bottom: 2%;
    margin-top: 45px;
}

.big {
    Width:
        188px;
    Height:
        52px;
    Padding:
        0px, 3px, 0px, 3px;
    Gap:
        2px;
    Font: Secular One;
    font-Size:
        24px;
    Line-height:
        28.53px;
    align-items: Center;
    font-weight: 500;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column;
    gap: 10px;
}


.date {
    height: 14px;
    Gap:
        3px;
    color: #6B6B6B;
    Font:
        Heebo;
    font-Weight:
        400;
    font-Size:
        12px;
    Line-height:
        14.27px;
    align-items: Right;
}

.bottom {
    padding: 20px 16px;
    Width: 100%;
    Height: 372px;
    background-color: #F7F7F7;
}

.item {
    Font: Heebo;
    font-Weight: 500;
    font-Size:
        16px;
    Line-height:
        23.5px;
}