.importentBtn{
    background-color: #0E9D85

}
.btn{
    /* background-color: #E8E8E8; */
         background-color: red
}

/* .buttons{
    Width:
    Hug (105px);
    Height:
    Fixed (55px);
    border-radius:
    8px;
    Padding:
    7px, 32px, 7px, 32px;
    Gap:
    6px;
    background-color: red
} */