.lead{
    width: 700px;
    height: 600px;
    margin-left: 20px;
    margin-right: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 20px;
    border: var(--main-border);
    padding: 20px;
    margin-top: 20px;
}

.btn{
    display: flex;
    justify-content: space-between;
    }

  