.all {
    display: flex;
    flex-direction: column;
    Width: 100%;
    Gap: 40px;
    padding: 32px;
}

.size {
    width: 72.522%;
}

.but {
    Width: 100%;
    /* Height: 95px; */
    Border: 1px, 0px, 0px, 0px, solid, #E8E8E8;
    display: flex;
    justify-content: space-between;
    Padding: 20px, 32px, 20px, 32px;
}