.holdTabs{
    display: flex;
    height: 100vh;
    position: relative;
}
.holdTabs >div:last-child{
    flex-grow: 1;
}
.holdTabs >div:first-child{
    width: 500px;
    flex-grow: 0;
  
}
.headLine{
    padding: 50px;
}
.tabSwitcher{
    margin: 35px 0;
    height: 50px;
}
.leftSide{
    max-width: 800px;
    margin: 0 auto;
}